.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .products-header {
    margin-top: 32px;
  }
}

.products-list-heading {
  color: #183b56;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 8px;
}
.additional-text {
  color: var(--light-blue-gray-500, #64748b);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .products-list-heading {
    font-size: 20px;
  }
}

.sort-by-container {
  display: flex;
  align-items: center;
}

.sort-by-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #475569;
  margin-right: 10px;
}

.sort-by {
  color: var(--light-blue-gray-600, #475569);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.sort-by-select {
  color: var(--light-blue-gray-600, #475569);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.select-option {
  color: var(--light-blue-gray-600, #475569);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
